
<div class="shoppings">
  <h2 class='shop-title'>Shopping List for <span> <%= @recipe.name %> </h2>
  <div class='flex-shop'>
    <h4 class='amount'>Amount of food items to buy:<span> <%= @recipe_food.length %> </h4>
    <h4>Total price:<span> $ <%= @total_price %></span></h4>
  </div>
  <table class="shop-table">
      <thead>
          <tr>
          <th>Food</th>
          <th>Quantity</th>
          <th>Price</th>
          </tr>
      </thead>

      <tbody>
      <% @recipe_food.each do |fd|%>
      <tr>
        <td><%= fd.food.name%></th>
        <td><%= fd.quantity%> <%= fd.food.measurement_unit  %></td>
        <td>$<%= fd.quantity* fd.food.price %></td>
      </tr>

      </tbody>
      </div>
      <%end%>
  </table>
</div>