<header class="site-header">
      <div class="wrapper site-header__wrapper">
        <div class="site-header__start">
          <a href="#" class="brand">Recipe App</a>
        </div>
          <nav class="nav">
            <ul class="nav__wrapper">
              <li class="nav__item"><%= link_to "Food", user_foods_path(current_user), {:class => "a-links"} %> </li>
              <li class="nav__item"><%= link_to "Recipes", user_recipes_path(current_user), {:class => "a-links"} %> </li>
              <li class="nav__item"><%= link_to "Public recipes", user_recipes_path(current_user), {:class => "a-links"} %> </li>
              <li class="nav__item"><%= link_to "Shopping list", user_shoppings_path(current_user), {:class => "a-links"} %> </li>
            </ul>
          </nav>
        <div class="site-header__end">
          <%= button_to "Logout", destroy_user_session_path, { method: :delete, data: { turbo:false }}%>
        </div>
      </div>
</header>